/*
 * Copyright (c) 2021 Darryl deHaan
 *
 * SPDX-License-Identifier: MIT
 */

#include "boards/arm/corneish_zen/corneish_zen_flash0.dtsi" // override &flash0 settings
/ {
  chosen {
    //zmk,matrix_transform = &default_transform;
    zmk,matrix_transform = &five_column_transform;
  };
};

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>


#include "moutis/moutis_config.dtsi"    // my add-on feature defs

#include "keymaps/keynames_3x5_3.h"     // key name defs for this board topology
#include "layouts/hd/vf-config.h"       // HD alpha keymap, adapt, and combo definitions

/ {
    behaviors { // separating these allows us to add board specific behaviors here (if any)

#include "moutis/moutis_behaviors.dtsi" // common behaviors (hold-taps, mod-morphs, lingers, adaptives)
#include HD_adapt_file                  // HDalpha/mnemonic based adaptives

    };

    macros {    // separating these allows us to add board specific macros here (if any)
    
#include "moutis/moutis_macros.dtsi"    // common macros (superset)

    };

    combos {    // separating these allows us to add board specific combos here (if any)
        compatible = "zmk,combos";

#include "moutis/moutis_combos.dtsi"    // common/location based combos (cut/copy/paste, esc, app, etc.)
#include HD_combo_file                  // HD alpha/mnemonic based combos (h-digraphs, etc.)

    };

#include "keymaps/keymap_3x5_3.dtsi"    // consolidated keymap

};
